.sidebar-wrapper {
  min-width: 140px;
  max-width: 220px;
  background: $white;
  box-shadow: $boxShadow1;
  margin-right: 34px;
  padding: 0 50px 20px 30px;

  h3 {
    padding: 40px 0 20px 0;
    border-bottom: 1px solid;
  }
  .sidebar {
  }
  .menu {
    font-weight: bold;
  }
  .sub-list {
    display: none;
  }
  .sub-list.open {
    display: block;
  }
}
