.wrapper {
  display: flex;
  padding: 18px 14px 18px 22px;
  background: $white;
  box-shadow: $boxShadow2;
  border-radius: 10px;
  margin-bottom: 20px;
  &__content {
    text-align: left;
    margin-left: 20px;
  }
  &__heading {
    font-size: $small;
    line-height: 19px;
    font-weight: $bold;
  }
  &__descriptions {
    font-size: $small;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;

    font-size: 14px;
  }
  .social-icons {
    margin-left: 40px;
    svg {
      margin-bottom: 12px;
    }
  }
}
